@page "/"
@layout Karpine.Fpo.Blazor.Pages.Shared.SFLayOut

<h2>Farmer Profiles</h2>

@using Volo.Abp.Application.Dtos
@using Karpine.Fpo.FarmerProfiles
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Components.Web
@inherits AbpCrudPageBase<IFarmerProfileAppService, FarmerProfileDto, Guid, PagedAndSortedResultRequestDto, CreateUpdateFarmerProfileDto>

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["Summary"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary"
                        Clicked="OpenCreateModalAsync">@L["New Farmer Profile"]</Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="FarmerProfileDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  CurrentPage="CurrentPage"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="FarmerProfileDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="FarmerProfileDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="FarmerProfileDto"
                                          Text="@L["Edit"]"
                                          Clicked="() => OpenEditModalAsync(context)" />
                            <EntityAction TItem="FarmerProfileDto"
                                          Text="@L["Delete"]"
                                          Clicked="() => DeleteEntityAsync(context)"
                                          ConfirmationMessage="()=>GetDeleteConfirmationMessage(context)" />
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
                 <DataGridColumn TItem="FarmerProfileDto"
                                Field="@nameof(FarmerProfileDto.PublicKey)"
                                Caption="@L["Public Key"]">
                </DataGridColumn>
                <DataGridColumn TItem="FarmerProfileDto"
                                Field="@nameof(FarmerProfileDto.FarmerName)"
                                Caption="@L["Name"]"></DataGridColumn>
              
                <DataGridColumn TItem="FarmerProfileDto"
                                Field="@nameof(FarmerProfileDto.FatherName)"
                                Caption="@L["Father"]">
                </DataGridColumn>
               <DataGridColumn TItem="FarmerProfileDto"
                                Field="@nameof(FarmerProfileDto.Village)"
                                Caption="@L["Village"]">
                </DataGridColumn>
                <DataGridColumn TItem="FarmerProfileDto"
                                Field="@nameof(FarmerProfileDto.SurveyNo)"
                                Caption="@L["Sy.No"]">
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<Modal @ref="@CreateModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["New Farmer Profile"]</ModalTitle>
                <CloseButton Clicked="CloseCreateModalAsync"/>
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                        <Field>
                            <FieldLabel>@L["Farmer Name"]</FieldLabel>
                            <TextEdit @bind-Text="@NewEntity.FarmerName">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                        <Field>
                            <FieldLabel>@L["Father Name"]</FieldLabel>
                            <TextEdit @bind-Text="@NewEntity.FatherName">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                   
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateModalAsync">@L["Cancel"]</Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateEntityAsync">@L["Save"]</Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="@EditModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@EditingEntity.FarmerName</ModalTitle>
                <CloseButton Clicked="CloseEditModalAsync"/>
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                     <Field>
                            <FieldLabel>@L["Name"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingEntity.FarmerName">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                   
                   
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditModalAsync">@L["Cancel"]</Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateEntityAsync">@L["Save"]</Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>